@media only screen and (min-width: 1200px) {
  .title {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .title {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 799px) {
  .title {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 299px) {
  .title {
    font-size: 3rem;
  }
}

.title {
  text-align: center;
}

body{
  background-color: #EEB34B !important
}
