.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  background: #fff;
  border: 3px solid #000;
  color: #ffbf00;
  text-align: center;
  font: 32px Arial, sans-serif;
}

.red {
  background-color: #de3163;
}

.blue {
  background-color: #6495ed;
}
